
positive/reducer1/current_pgms/
positive/reducer1/reduce.c
positive/reducer1/reduce.best
positive/reducer1/reduce.orig
positive/reducer1/script.sh
			   
positive/reducer2/current_pgms/
positive/reducer2/reduce.c
positive/reducer2/reduce.best
positive/reducer2/reduce.orig
positive/reducer2/script.sh
								 
negative/reducer1/current_pgms/
negative/reducer1/reduce.c
negative/reducer1/reduce.best
negative/reducer1/reduce.orig
negative/reducer1/script.sh
										   
negative/reducer2/current_pgms/
negative/reducer2/reduce.c
negative/reducer2/reduce.best
negative/reducer2/reduce.orig
negative/reducer2/script.sh
